@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.active {
    @apply text-white px-4 py-2 rounded-[5px] bg-[#3b4b41];
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
}

.pagination a:hover {
    background-color: #eee;
}

.pagination li.activerPagination {
    background: #3b4b41;
    border-radius: 4px;
    color: #fff;
}

.active-button {
    color: #3b4b41;
    border-bottom: 3px solid #3b4b41;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }